*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{    /*Controla as dim*/
    display: flex;
    flex-wrap: wrap; /*para poder manipular as dimensões,  no-wrap = padrão*/
    width: 580px;
    height: auto;
    margin:0 auto;
    padding: 10px;
    text-align:center;
}

.centerGPD2{
    display: flex;
    flex-wrap: wrap; /*para poder manipular as dimensões,  no-wrap = padrão*/
    width: 580px;
    height: auto;
    margin:0 auto;
    padding: 10px;
    text-align:center;
}

html{
    border-width:4px;
    border-style: dotted;
    border-width: auto;
    /*background-color: #d6d2d2;*/
    /*overflow-y: hidden; Esconde a barra "scroll" da página*/
}

body{
    /*background-color: #d6d2d2;*/
    height: 100%;
    min-height: 99vh;
    overflow-y: hidden; /*Esconde a barra "scroll" da página*/
    background: linear-gradient(#d1c6d1,#d1c6c6,#c6d1c6,#c6d1d1);
}

header{
    padding: 40px;
}

.orgPrincipal{
    display: flex;
    flex-wrap: wrap; /*para poder manipular as dimensões,  no-wrap = padrão*/
    max-width: auto;
    height: auto;
    margin:0 auto;
    padding:0 2%;
}

.logo{
    padding:50px;
    width:50%;
    text-align: center;
}

#img1{
    width: 450px;
    height: 450px;
}

.menu{
    padding-top:100px;
    width:50%;
    text-align: right;
}

.menu a{        /*Os links que estão dentro do menu*/
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 150px;
    border-width: 4px;
    border-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #666;
    border-bottom-color: #333;
    border-left-color: #858585;
}

a:hover {
    color: rgb(214, 32, 32);
}

#img2{
    padding-top:40px;
    text-align: center;
}

#tituloTabela{
    text-decoration: underline;
    text-align: center;
}

.htmlForm{
    overflow-y: visible;
    height: auto;
    border-width:4px;
    border-style:dotted;
}

.bodyForm{
    padding: 0 15%;
    overflow-y: visible;
    border-width:4px;
    border-style:dotted;
}

@media (max-width: 1200px) {
    .bodyForm{
        padding: 0 18%;
        overflow-y: visible;
        border-width:4px;
        border-style:dotted;
    }
}

#divTitulo{
    text-align: center;
}

#orgProposta{
    background: linear-gradient(#C9CDC9,#CFC7CF,#C9CDC9,#D1C6CD,#C9CDC9,#D2C4CD,#D4C2CE);
    text-align: center;
}

#bodyProposta{
    /*background-color: #d6d2d2;*/
    max-height: auto;
    height: auto;
    overflow-y: visible; /*Mostra a barra "scroll" da página*/
    background: linear-gradient(#d1c6d1,#d1c6c6,#c6d1c6,#c6d1d1);
}

#img3{
    height: auto;
    margin-left: 28%;
    border: solid;
}

/*Label 7.Danos Causados*/
#DanosCausados{
    font-size: small;
    font-weight: bold;
}

/*Botao ENVIAR*/
#enviar{
    text-align: center;
}

.menu2 a{        /*Os links que estão dentro do menu*/
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    border-width: 4px;
    margin-top: 30px;
    background: linear-gradient(#d1c6d1,#d1c6c6,#c6d1c6,#c6d1d1);
}


.menu2{
    padding-top: 20px;
    width:50%;
    text-align: center;
}

#header2{
    height: auto;
    padding: 20px;
}

#principalCenter{
    width: 600px;
    margin-top: 50px;
    margin-left: 65px;
    text-align: center;
    font-style: italic;
}

.centerGPD1{
    padding: 0 auto;
}

table{
    height: auto;
    padding: 10px;
    padding-bottom: 25px;
    border-width: 8px;
    border-style: solid;
}

tr{
    text-align: center;
}

td{
    padding-top: 15px;
    text-align: justify;
}

th{
    padding-top: 15px;
    padding-right: 40px;
    text-align: center;
}

#justificar{
    text-align: justify;
}

#centralizar{
    text-align: center;
}

.menuPrinc a{        /*Os links que estão dentro do menu*/
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.menuPrinc{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 30px;
    border-width: 3px;
    border-style:dashed;
    background: linear-gradient(#d1c6d1,#d1c6c6,#c6d1c6,#c6d1d1);
}

#subH3{
    font-style: italic;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
}

#subH3b{
    border-width: 3px;
    border-style:dashed;
    background: linear-gradient(#d1c6d1,#d1c6c6,#c6d1c6,#c6d1d1);
    padding-top: 15px;
    padding-bottom: 15px;
}

ul{
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
}

#imagemCenterLGPD{
    width: 910px;
    height: auto;
    padding: 10px;
    padding-bottom: 25px;
    text-align: left;
}

.btn {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    padding: 0 10px;
    height: 40px;
    line-height: 42px;
    border: none;
    background: linear-gradient(#999099);
  }
  .btn:hover {
    color: black;
    background: transparent;
    box-shadow:none;
  }
  .btn:before,
  .btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: black;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn:hover:before,
  .btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  input, input[type="text"], input[type="search"], isindex, textarea, button {
	outline:none;
	margin:0 auto;
	padding:5px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}